src/DataAccess/Data/LibrarySchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AvanadeLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Users">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="User" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="UserId"/>
                    <xs:element type="xs:string" name="Username"/>
                    <xs:element type="xs:string" name="Password"/>
                    <xs:element type="xs:string" name="Role"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Books">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Book" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="BookId"/>
                    <xs:element type="xs:string" name="Title"/>
                    <xs:element type="xs:string" name="AuthorName"/>
                    <xs:element type="xs:string" name="AuthorSurname"/>
                    <xs:element type="xs:string" name="Publisher"/>
                    <xs:element type="xs:byte" name="Quantity"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Reservations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Reservation" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="ReservationId"/>
                    <xs:element type="xs:byte" name="UserId"/>
                    <xs:element type="xs:byte" name="BookId"/>
                    <xs:element type="xs:dateTime" name="StartDate"/>
                    <xs:element type="xs:dateTime" name="EndDate"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="LastBookId"/>
      <xs:attribute type="xs:byte" name="LastUserId"/>
      <xs:attribute type="xs:byte" name="LastReservationId"/>
    </xs:complexType>
  </xs:element>
</xs:schema>